@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

p.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 600px;
  overflow: hidden;
}

@layer components {
  .btn {
    @apply bg-blue-300 font-bold py-2 px-4 rounded;
  }
  .btn:hover {
    @apply bg-blue-500 text-white;
  }
  .btn-red {
    @apply bg-red-300 text-white;
  }
  .btn-red:hover {
    @apply bg-red-700;
  }
  .disabled {
    @apply bg-gray-300 text-white;
  }
  .disabled:hover {
    @apply bg-gray-300 text-white;
  }
  .receiver-icon {
    border-radius: 50%;
    position: relative;
    top: 33px;
  }
  .camerabody {
    position: relative;
    display: block;
    margin-bottom: 20px;
    height: 230px;
    width: 200px;
  }
  .motive {
    transition: 1s all linear;
    position: absolute;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    z-index: 1;
  }
  .shutter {
    z-index: 8;
    width: 200px;
    height: 200px;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid;
    overflow: hidden;
    position: absolute;
    left: 0px;
    --p1: 60%;
    --p2: 48%;
    --p3: 38%;

    --c1: transparent var(--p1),
      #000 calc(var(--p1) + 1px) calc(var(--p1) + 4px),
      grey calc(var(--p1) + 5px);
    --c2: transparent var(--p2),
      #000 calc(var(--p2) + 1px) calc(var(--p2) + 4px),
      grey calc(var(--p2) + 5px);
    --c3: transparent var(--p3),
      #000 calc(var(--p3) + 1px) calc(var(--p3) + 4px),
      grey calc(var(--p3) + 5px);
  }

  .shutter::before,
  .shutter::after {
    content: "";
    position: absolute;
    top: -50%;
    left: 50%;
    height: 200%;
    width: 100%;
    transition: 0.05s all linear;
    background:
      linear-gradient(-126deg, var(--c1)) bottom left / var(--e1, 40%)
        var(--e2, 20%) no-repeat,
      linear-gradient(-162deg, var(--c1)) bottom / 100% var(--e3, 60%) no-repeat,
      linear-gradient(162deg, var(--c1)),
      linear-gradient(126deg, var(--c2)),
      linear-gradient(90deg, var(--c3)),
      linear-gradient(54deg, var(--c2)),
      linear-gradient(18deg, var(--c1)); /* 36deg/2 then we increment by 36deg*/
  }

  .shutter::after {
    transform: rotate(180deg);
    transform-origin: left;
  }

  .released::before,
  .released::after {
    top: 0;
    left: 50%;
    height: 100%;
    width: 50%;
  }

  .camera-control {
    position: relative;
    left: 150px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: top;
  }
  .blinker {
    animation: blink 1s linear;
    animation-iteration-count: 5;
    display: inline-block;
    position: relative;
  }
  @keyframes blink {
    25% {
      opacity: 0.5;
    }
    50% {
      opacity: 1;
    }
    75% {
      opacity: 0.5;
    }
  }
  .dot {
    position: relative;
    height: 25px;
    width: 25px;
    background-color: rgb(255, 50, 0);
    border-radius: 50%;
    opacity: 0;
    display: inline-block;
  }
  .inactive {
    filter: contrast(1%);
  }

.overlay {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    bottom: 20%;
    z-index: 9;
    overflow-y: auto;
  }

  .popover {
    cursor: "pointer";
  }

  .popover > .info {
    display: "none";
    background-color: "red";
  }

  .popover:hover > .info {
    display: block;
  }
}
